<center>
    {% include 'messages.html' %}
</center>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <style type="text/tailwindcss">
        @layer utilities {
            .content-auto {
                content-visibility: auto;
            }
        }

        .sab {
            position: fixed;
            top: 0;
            left: 0;
        }

        .bgbg {
            background-color: rgba(63, 165, 196, 0.25);
        }


    </style>
<body class="bgbg">


<center>
    <br><br><br>
    <h1 class="text-3xl">
        دسترسی شما توسط مدیر محدود شده است
    </h1>
    <br>
    <h3 class="text-xl">پس از تایید مدیر می توانید به بنل کاربری دسترسی داشته باشید</h3>
    <br>
    <br>
    <div class="flex items-center text-center justify-center ">
        <a href="{% url 'panel:groupupdate' %}"><input value="تلاش مجدد"
                                                       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                                       type="submit">
        </a>
    </div>

</center>


</body>
</html>